<section>
	<div class="container med-padding">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<div class="clearfix">
					<h2 class="question-number">Q6</h2>
					<h3 class="question"><a href="http://hirespace.com/Venues/210/SearcysThe-Gherkin">The Gherkin</a> is one of London's best loved sky-scrapers, but what is its real name?</h3>
				</div>
				<img class="question-image" src="https://hirespacestoragelive.blob.core.windows.net/spaces/ls-xxl/4814/0A1X6725.jpg" alt="The Gherkin" />
				<form action="post" class="text-left clearfix">
					<div class="radio">
						<label>
							<input type="radio" name="q6" value="1">The Pickle
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="q6" value="2">Tower 42
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="q6" value="3">30 St Mary Axe
						</label>
					</div>
				</form>
				<div data-role="error" class="error upper hidden">
					Please select an answer.
				</div>
				<a data-role="submit-answer" data-question="6" href="/home/question7" class="btn btn-primary btn-disabled upper"><span class="button-text">Next Question <span class="glyphicon glyphicon-play"></span></span><span class="loading hidden"><img src="../Content/img/loading-spinner.gif" /></span></a>
			</div>
		</div>
	</div>
</section>