<section>
	<div class="container med-padding">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<div class="clearfix question-container">
					<h2 class="question-number">Q1</h2>
					<h3 class="question">For which festival was the <a href="https://hirespace.com/Venues/2113">Southbank Centre</a> created in 1951?</h3>
				</div>
				<img class="question-image" src="https://hirespacestoragelive.blob.core.windows.net/spaces/ls-xxl/9289/tujzprhxixo.jpg" alt="Southbank Centre" />
				<form action="post" class="text-left clearfix">
					<div class="radio">
						<label>
							<input type="radio" name="q1" value="1">Festival of Britain
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="q1" value="2">Udderbelly Festival
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="q1" value="3">London Film Festival
						</label>
					</div>
				</form>
				<div data-role="error" class="error upper hidden">
					Please select an answer.
				</div>
				<a data-role="submit-answer" data-question="1" href="/home/question2" class="btn btn-primary btn-disabled upper"><span class="button-text">Next Question <span class="glyphicon glyphicon-play"></span></span><span class="loading hidden"><img src="../Content/img/loading-spinner.gif" /></span></a>
			</div>
		</div>
	</div>
</section>