<section>
	<div class="container med-padding">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<div class="clearfix">
					<h2 class="question-number">Q5</h2>
					<h3 class="question"><a href="http://hirespace.com/Venues/307/Alexandra-Palace">Alexandra Palace</a> first opened in 1873. How many days did it first remain open before being destroyed by fire?</h3>
				</div>
				<img class="question-image" src="https://hirespacestoragelive.blob.core.windows.net/spaces/ls-xxl/784/AlexandraPalacePalmCourt.jpg" alt="Alexandra Palace" />
				<form action="post" class="text-left clearfix">
					<div class="radio">
						<label>
							<input type="radio" name="q5" value="1">16
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="q5" value="2">36 
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="q5" value="3">146
						</label>
					</div>
				</form>
				<div data-role="error" class="error upper hidden">
					Please select an answer.
				</div>
				<a data-role="submit-answer" data-question="5" href="/home/question6" class="btn btn-primary btn-disabled upper">Next Question <span class="glyphicon glyphicon-play"></span></a>
			</div>
		</div>
	</div>
</section>