<section>
	<div class="container med-padding">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<div class="clearfix">
					<h2 class="question-number">Q7</h2>
					<h3 class="question"><a href="http://hirespace.com/Venues/806/Saatchi-Gallery">The Saatchi Gallery</a> is known for supporting up-and-coming British artists. What animal did Damien Hirst first exhibit here, preserved in formaldehyde?</h3>
				</div>
				<img class="question-image" src="https://hirespacestoragelive.blob.core.windows.net/spaces/ls-xxl/2125/Saatchi%20Gallery%20(2).jpg" alt="Alexandra Palace" />
				<form action="post" class="text-left clearfix">
					<div class="radio">
						<label>
							<input type="radio" name="q7" value="1">A shark
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="q7" value="2">A monkey
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="q7" value="3">A walrus
						</label>
					</div>
				</form>
				<div data-role="error" class="error upper hidden">
					Please select an answer.
				</div>
				<a data-role="submit-answer" data-question="7" href="/home/scorecard" class="btn btn-primary btn-disabled upper">Check your score <span class="glyphicon glyphicon-stats"></span></a>
			</div>
		</div>
	</div>
</section>